

.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(255, 243, 221);
}

.signup-msg{
  position: fixed;
  position: absolute;
  top: 0px;
  transform: translateY(-4rem);
  opacity: 0;
  background-color: white;
  padding: 0.9rem 1.8rem 0.9rem 1.8rem;
  border-radius: 30px;
  color: rgb(232, 0, 0);
  font-weight: 500;
  font-size: 1.1rem;
}

.alert{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.signup-cont{
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.762);
  justify-content: center;
  width: 30vw;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 20rem;
  
}

.signup-cont input{
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  width: 20vw;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 10rem;

}

.signup-submit{
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  border: 2px solid rgb(140, 140, 140);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 2rem;
}

.signup-cont p:nth-child(1){
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0rem;
  font-size: 2.3rem;
  margin-top: 0.5rem;
}
.signup-cont p:nth-child(2){
  color: black;
  font-size: 1.4rem;
}

.signup-submit:hover{
  background-color: rgb(255, 192, 75);
  border: none;
  color: white;
}




/* -------------------------------------------------questions-------------------------------------------- */


textarea{
  resize: none;
  width: 18vw;
  height: 15vh;
  border-radius: 10px;
  padding: 1rem;
}

button{
  border-radius: 5px;
  padding: 0.4rem 1rem 0.4rem 1rem;
}


.q-cont-outer{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.postQ{
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.q-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}

.q-inner-cont{
  background-color: rgb(255, 253, 238);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.236);
  /* min-width: 10rem; */
  color: black;
  min-width: 20rem;
  max-width: 30vw;

}

.link{
  
  text-decoration: none;
 }

.q-user-cont{
  display: flex;
  gap: 0.8vw;
  align-items: center;
}

.q-u-icon{
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
  padding: 1vh 0.9vw;
}



/* -----------------------------------------details------------------------------------------------ */


.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}
.ans-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.a-u-cont{
  display: flex;
  gap: 0.9vw;
  align-items: center;
}

.a-u-logo{
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
  padding: 1vh 0.9vw;
}

.detail-cont{
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.152);
}

.detail-inner-cont{
}

.detail-user-cont{
  display: flex;
  gap: 0.9vw;
  align-items: center;
}

.detail-u-icon{
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
  padding: 1vh 0.9vw;
}




/* -----------------------------------doctor----------------------------------------- */


/* 
.doc-cont-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .doc-inp-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.doc-input{
  position: fixed; /* Fixed position */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position */
  max-height: 80vh; /* Maximum height */
  overflow-y: auto; /* Enable overflow-y scrolling */
  background-color: #f9f9f9; /* Example background color */
  padding: 3rem; /* Example padding */
  border: 1px solid #ccc; /* Example border */
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  visibility: hidden;
  z-index: 100;
}

.doc-input input{
  padding: 0.5rem;
  border-radius: 5px;
}

.doctor-cont{
  position: fixed; /* Fixed position */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position */
  max-height: 80vh; /* Maximum height */
  overflow-y: auto; /* Enable overflow-y scrolling */
  background-color: #f9f9f9; /* Example background color */
  padding: 20px; /* Example padding */
  border: 1px solid #ccc; /* Example border */
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50vw;
  align-items: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.192);
  visibility: hidden;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

.doc-inner{
  background-color: rgb(255, 248, 238);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.199);
  width: 80%;
  border-radius: 5px;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* -------------------------------answers------------------------------------ */


.ans-cont-outer {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  align-items: flex-start;
  /* Remove height property to allow dynamic resizing */
  /* height: 20vh; */
}

.ans-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 gap: 1rem;
}

.ans-inner{
  background-color: rgb(244, 244, 244);
  padding: 1vw;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 20rem;
  max-width: 35vw;
}

.post-ans{
  display: flex;
  gap: 1vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.showDoc{
  background-color: rgb(255, 246, 232);
  padding: 1vw;
  border-radius: 5px;
}



/* ---------------------------------login------------------------------------ */



.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 243, 221);
}

.login-msg{
  position: fixed;
  position: absolute;
  top: 0px;
  transform: translateY(-4rem);
  opacity: 0;
  background-color: white;
  padding: 0.9rem 1.8rem 0.9rem 1.8rem;
  border-radius: 30px;
  color: rgb(232, 0, 0);
  font-weight: 500;
  font-size: 1.1rem;
}

.login-cont{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.762);
  justify-content: center;
  width: 30vw;
  min-width: 20rem;
  border-radius: 10px;
  align-items: center;
  gap: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

  
}

.login-cont input{
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

}

.login-submit{
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  border: 2px solid rgb(140, 140, 140);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 1.5rem;
}

.login-cont p:nth-child(1){
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  font-size: 2.3rem;
  margin-top: 0.5rem;
}
.login-cont p:nth-child(2){
  color: black;
  font-size: 1.4rem;
}

.login-submit:hover{
  background-color: rgb(255, 192, 75);
  border: none;
  color: white;
}